body {
  font-family     : 'Open Sans', sans-serif;
  width           : 100%;
  background-color: #b8bfaf;
  margin          : 0;
  font-size       : 1em;
}

#mainContainer {
  width : 960px;
  margin: 0 auto;

}

h2, h3, h3, h4 {
  text-transform: uppercase;
}
h3 {
  color      : #c65c22;
  font-weight: 900;
  text-align : center;
}
h4 {
  text-align: center;
  color     : #c65c22;
}

#headerImage {
  padding-top: 100px;
  max-width  : 100%;
}
iframe {
    border: none;
}
/***************************************
            NAVIGATION BAR
****************************************/
.topNav {
  overflow        : hidden;
  background-color: #fcf1c6;
  position        : fixed;
  top             : 0px;
  z-index         : 99;
  width           : 100%;
  margin-left     : 0;
  height          : 100px;
  text-align      : center;
}
.topNav a {
  color          : #8f814c;
  text-align     : center;
  padding        : 0px 16px;
  text-decoration: none;
  font-size      : 1.2em;
  font-weight    : 600;
  line-height    : 100px;
  text-transform : uppercase;
}
.topNav a:hover{
  color: #36697e;
}
.diamond {
  visibility: hidden;
  position  : relative;
  bottom    : 1px;
  color     : #36697e;
}

.topNav a:hover .diamond {
  visibility: visible;
}

.topNav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topNav a:not(:first-child) {
    display: none;
  }
  .topNav a:first-child {
    float: left;
  }

  .topNav a.icon {
    float  : right;
    display: block;
  }

  .topNav {
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .topNav.responsive {
    position: relative;
  }
  
  .topNav.responsive .icon {
    position: absolute;
    right   : 0;
    top     : 0;
  }

  .topNav.responsive a {
    float     : none;
    display   : block;
    text-align: left;
  }
}
/***************************************
        TITLE AND WELCOME
****************************************/
#welcomeScreen {
  margin-top      : -21px;
  width           : 100%;
  height          : 300px;
  background-color: #b8bfaf;
}

#title {
  padding         : 30px 0;
  text-align      : center;
  color           : #c65c22;
}
#welcomeScreen p {
  width           : 80%;
  margin          : auto;
  color           : #133e39;
}
.quote {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    background-color: #8fbeb8; 
    position: relative;
}
.quote p {
    width: 50%;
    margin: 0 auto;
    border: none;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: 23px;
    color: #fcf1c6;
}
.quote p:before { 
    content: open-quote;
    font-weight: bold;
    font-size:60px;
    color:#467c75;
} 
.quote p:after { 
    content: close-quote;
    font-weight: bold;
    font-size:60px;
    color:#467c75;
  
}
.info img {
    width: 40%;
    display: block;
    margin: auto;
    padding-bottom: 10px;
}
.arrow {
    width: 0;
    height: 0;
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
    border-bottom: 36px solid #8fbeb8;
    position: absolute;
    top: -35px;
    left: 50%;
}
/***************************************
        HISTORY
****************************************/
#history h2 {
  background-color: #c65c22;
  line-height     : 100px;
  height          : 100px;
  color           : white;
  text-align      : center;
}

#history {
  background-color: #b8bfaf;
  margin-top      : -20px;
}

.row {
  display: flex;
  padding: 3% 0;
}

.column {
  flex: 50%;
}

#earlyDays img {
  width: 400px;
}

.row p {
  width      : 90%;
  margin     : auto;
  padding    : 5%;
  line-height: 1.2em;
  color      : #133e39;
}

#dawn li {
  color: #133e39;
}


#earlyDays img {
  width      : 75%;
  position   : relative;
  top        : 80px;
  margin-left: 45px;
}

#activision {
  width    : 90%;
  transform: rotate(-25deg);
  margin   : 200px 0;
}

#spaceInvader {
  position: relative;
  top     : 100px;
}

#crash img {
  position: relative;
  top     : 100px;
  width   : 90%;
}

#war img {
  width   : 90%;
  position: relative;
  top     : 100px;
}

#marioImage {
  width   : 50%;
  position: relative;
  top     : 100px;
  left    : 20px;
}

#virtua {
  width   : 50%;
  position: relative;
  top     : 90px;
  left    : 20px;
}

#virtualReality {
  width   : 90%;
  position: relative;
  top     : 100px;
}

#spyro {
  width   : 90%;
  position: relative;
  top     : 150px;
}
/***************************************
                CONSOLES
****************************************/
#consoles {
  background-color: #b8bfaf;
  margin-top      : -20px;
  width           : 100%;
}

#consoles h2 {
  text-align      : center;
  padding-top     : 20px;
  background-color: #c65c22;
  color           : white;
  height          : 100px;
  width           : 100%;
  line-height     : 80px;
}

#consoles p {
  width : 90%;
  margin: auto;
  color : #133e39;
}
#consoles img {
  box-shadow      : 0px 0px 5px grey
}

/*VIDEO GAMES*/
#games h2 {
  width           : 100%;
  height          : 100px;
  background-color: #c65c22;
  color           : white;
  text-align      : center;
  line-height     : 100px;
}
#games {
  background-color: #b8bfaf;
  margin-top      : -20px;
}

#games img {
  display      : block;
  width        : 40%;
  margin       : auto;
  margin-bottom: 25px;
}
#games p {
/*  width      : 90%;*/
  margin     : auto;
  color      : #133e39;
  line-height: 1.3em;
}
.gameplayVideo {
  width         : 300px;
  height        : 200px;
  margin        : 0 auto;
  display       : none;
  padding-bottom: 10px;
}

.help-tip {
    text-align: center;
    background-color: #c65c22;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    left: 30px;
    bottom: 48px;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

/* The tooltip */

.help-tip p{    
    display: none;
    text-align: left;
    background-color: #fcf1c6;
    padding: 20px;
    width: 100px;
    position: relative;
    right: 10px;
    top: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px gray;
    font-size: 13px;
}
.help-tip:hover p{
    display:block;
    animation: fadeIn 0.3s ease-in-out;
}

/* Little Triangle at the top of the tooltip */
.help-tip p:before { 
    position: absolute;
    top:-12px;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#fcf1c6;
}
/***************************************
            FOOTER
****************************************/
footer:before {
    position: absolute;
    left: 0;
    content: " ";
    width: 100%;
    height: 50px;
    opacity: .4;
    background: url(images/dog.png) no-repeat right;
}
footer {
    margin-top: 20px;
    font-family: inheret;
    text-align: center;
    height: 50px;
    background-color: #fcf1c6;
    
}

footer p {
    padding-left: 5px;
    line-height: 50px;
    color: #133e39;
    font-weight: 600;
}


/***************************************
            RESPONSIVE LAYOUT
****************************************/
@media screen and (max-width:959px) {
    #mainContainer {
      width: 100%;
    }
    
    #headerImage {
      width: 100%;
    }
    
    nav {
      width: 100%;
    }
    
    nav ul {
      width: 100%;
    }
    
    #consoles img {
      width: 100%;
    }
    
    #history img {
      display : block;
      position: static;
      margin  : auto;
      width   : 50%
    }
    #history .row {
      display: block;
    }
    #activision {
      transform: none;
    }
    #spaceInvader {
      position: static;
    }
    
}

@media screen and (max-width:640px) {
    #mainContainer {
    width: 100%;
    }
    nav {
    width: 100%;
    }
    #consoles img {
        width: 100%;
    }
    #consoles h4 {
        font-size: .5em;
    }
    #welcomeScreen p {
        width: 100%;
    }
    
}

@media screen and (max-width:320px) {
    #mainContainer {
    width: 320px;
    }
    nav {
    width: 100%;
    }
    .gameplayVideo {
        width: 80%;
        height: auto;
    }
    #games img {
        width: 90%;
    }
}